.dao{
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}
.dao1 img{
    padding-top: 5px;
}
.dao2{
    width: 6%;
    height: 60px;
    color: white;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}
.dao2:nth-child(2){
    color: orange;
}
.dao3{
    width: 140px;
    height: 60px;
    color: white;
    font-size: 18px;
    line-height: 60px;
}
.dao4{
    display: flex;
    flex-direction: row;
    color: white;
    line-height: 60px;
    height: 60px;
    line-height: 40px;
    font-size: 15px;
    color: whitesmoke;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.dao4_1{
    width: 20px;
    height: 20px;
    background-image: url(images/image2.png);
    background-position: 100px -22px;
}
.dao5{
    width: 5%;
    height: 60px;
    color: white;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
}
.dao6{
    width: 3%;
    height: 60px;
    color: white;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
}
.dao7{
    color: white;
}

.main{
    display: flex;
    flex-direction: row;
}
.lyrics{
    width: 60%;
}
.progress{
    width: 40%;
    height: 600px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.record_border{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.record{
    width: 315px;
    height: 315px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: animation1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.center{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(207, 206, 206);
    background-color:rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cen_cen{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.8);
}

@keyframes animation1 {
    100%{
        transform: rotate(360deg);
    }
}

.strips{
    margin-top: 20px;
    width: 500px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.play {
    background-image: url(images/icon.jpg);
    width: 40px;
    height: 40px;
    background-position: -162px -176px;
    margin-left: 30px;
}
.pause{
    display: none;
    background-image: url(images/icon.jpg);
    width: 40px;
    height: 40px;
    background-position: -207px -224px;
    margin-left: 30px;
}

#prograssBar{
    margin-left: 30px;
    width: 250px;
    height: 5px;
}
/* 走过的轨道 */
#wp_processBar{
    width: 0px;
    height: 5px;
    background:#ffcd2d;
}
/* 整个轨道 */
#wp_bufBar{
    width: 250px;
    height: 4px;
    background: #cccccc;
}
/* 点 */
.wp_processBtn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffcd2d;
    position: relative;
    top: -7px;
    left:0px;
}

.time{
    margin-left: 30px;
}
.voice{
    width: 20px;
    height: 20px;
	background: url(images/icon.jpg) no-repeat -69px 0px;
    margin-left: 3px;
    margin-top: 2px;
}
/* 评论区 */
.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#com_over{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.over_above{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

#p1{
    margin-right: 5px;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(73, 73, 73);
}
#p2{
    font-size: 18px;
    color: rgb(73, 73, 73);
    text-align: center;
    height: 23px;
}
#over_bto{
    border-top: 2px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
#head_img{
    background-image: url(images/image5.jpg); 
    height: 60px;
    width: 60px;
    background-size: cover;
    margin-right: 30px;
}
#com_input{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
#input{
    width: 100%;
    height: 150px;
}
#btn{
    width: 70px;
    height: 30px;
    background-color: #ffcd2d;
    border-radius: 10%;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    text-align:center;
    border: 1px solid #ffcd2d;
}

#com_mid{
    margin-top: 40px;
    width: 80%;
}
.mid_p{
    width: 100px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}


#com_out{
    width: 100%;
    border-top: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.com_unit{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.com_img{
    background-image: url(images/image5.jpg); 
    height: 60px;
    width: 60px;
    background-size: cover;
    margin-right: 15px;
}
.com_p{
    width: 90%;
    border-bottom: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.com_p p{
    width: 70%;
    text-align: start;
}
.com_name{
    color: #ffcd2d;
    font-size: 20px;
    margin:0px;
}
.com_content{
    font-size: 16px;
    top: -30px;
    margin-top: 5px;
}
.com_time{
    color: rgb(83, 83, 83);
    font-size: 10px;
    margin-top: 8px;
}
.page{
    width: 30%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6px;
}
.page div{
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: #ffcd2d;
    text-align: center;
    font-size: 20px;
}
.page #pro{
    display: inline-block;
    background-color: #ccc;
}